################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab4win32/Debug
/Lab6MPI/Debug
/Parallel-programming.VC.db
/Parallel-programming.VC.VC.opendb
/Lab6MPI/Lab6MPI.vcxproj.filters
/Lab6MPI/Lab6MPI.vcxproj
/Lab5OpenMP/Lab5OpenMP.vcxproj.filters
/Lab5OpenMP/Lab5OpenMP.vcxproj
/Lab4win32/Lab4win32.vcxproj.filters
/Lab4win32/Lab4win32.vcxproj
